<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/AmirMahdyJebreily/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="AmirMahdyJebreily" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>